name: Backend CI

on: [push, pull_request]

jobs:
  build-server:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: server

    if:
      github.ref == 'refs/heads/main' || github.ref == 'refs/heads/feature/server'

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - run: npm install
    - run: npm run build --if-present
    - run: npm test
      env:
        CI: true

  build-alpr:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: wegliML

    if:
      github.ref == 'refs/heads/main' || github.ref == 'refs/heads/feature/alpr-gcloud-vision'

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -r requirements.txt
    - name: Test with pytest
      run: pytest